.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: MintCream;
}

.button {
    -fx-padding:5px 10px;
    -fx-margin: 5px 0;
    -fx-border:5px 5px;
    -fx-border-radius: 3px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
}

.button:hover{
    -fx-padding:5px 10px;
    -fx-margin: 5px 0;
    -fx-border:5px 5px;
    -fx-border-radius: 3px;
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
}

.button:pressed{
    -fx-padding:5px 10px;
    -fx-margin: 5px 0;
    -fx-border:5px 5px;
    -fx-border-radius: 3px;
    -fx-text-fill: #fff;
    -fx-background-color: rgba(0, 0, 0, 0.18);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
}

.tab{
    -fx-pref-width: 220;
    -fx-pref-height: 50;
}

.tab-header-area .tab{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #605f5f;
}

.tab-header-area .tab-label{
    -fx-text-fill: #fff;
    -fx-alignment: CENTER;
}

.tab-header-area .tab:selected {
    -fx-background-color: #000;
}

.tab-header-background {
    -fx-background-color: #605f5f;
    -fx-background-radius: 20 20 0 0;
}

.tab-pane{
    -fx-pref-width: 460;
    -fx-padding: 0 -1 -1 -1;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 9 9 0 0, 8 8 0 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.image-button:hover{
    -fx-opacity: 0.6;
}

.image-button:pressed{
    -fx-opacity: 0.2;
}

.back-button:hover{
    -fx-opacity: 0.5;
}

.back-button:pressed{
    -fx-opacity: 0.2;
}

.paneBG {
    -fx-background-color: #605f5f;
    -fx-background-radius: 0 0 20 20;
}